---
import NextPrevButton from "./_components/NextPrevButton.astro";
import WorksGrid from "./_components/WorksGrid.astro";
import WorksLayout from "./_components/WorksLayout.astro";
import { games } from "./_components/games.ts";

import type { PaginateFunction } from "astro";

const uniqueYears = [...new Set(games.map((game) => game.year).filter((year) => year != null))];
const sortedUniqueYears = uniqueYears.sort((a, b) => b - a);

export function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
  return paginate(games, { pageSize: 8 });
}

const { page } = Astro.props;
---

<WorksLayout title="作品紹介">
  <div class="my-4 flex flex-wrap gap-3 py-2">
    {
      sortedUniqueYears.map((year) => (
        <a
          href={`/works/${year}`}
          class="rounded-full bg-purple-500 px-4 py-2 text-base text-white shadow-md hover:bg-purple-700 focus:outline-none focus-visible:ring-2 focus-visible:ring-purple-700 focus-visible:ring-offset-2"
        >
          {year}年
        </a>
      ))
    }
  </div>
  <WorksGrid games={page.data} isDisplayYear={true} />
  <NextPrevButton page={page} />
</WorksLayout>
